@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: poppins;
    font-style: normal;
}

.container{
  
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: pink;
    width: 100%;
    height:  100vh;

}

.top{
    color:aliceblue;
    background-color: #3E4BBA;
    width: 100%;
    height:  10vh;
}

.side{
    background-color: aliceblue;
    width: 200px;
    
}



.main{
    background-color: aliceblue;
    width: 200px;
    height:  90vh;
    flex-grow: 1;
}




/*Top contnent*/
.top-content{
    display: flex;
  
    padding-left: 10px;
}

.top-content *{
    width: fit-content;
    font-size: 20px;
  
    
}

.top-content *:not(.profile img){
    padding-top: 10px;
    
}



.top-content .profile img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    position: relative;
    left: 750px;
    /* padding-left: 300px; */
}

.title{
    
    margin-right: 86px;
    font-weight: 400;

}

.location{
    padding-left: 10px;
    border-left: 1px solid aliceblue;
    font-weight: 400;

    
}


/*side-bar*/


.side-bar{
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 166, 31);
    border-radius: 20px;
    margin: 30px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 80vh;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
  
}

.side-bar .link{
    background-color: aliceblue;
    flex-grow: 1;
    text-align: start;
    padding-top: 10px;
    padding-left: 50px;
    font-size: small;
    
}

.side-bar .link:hover{
    background-color: rgb(209, 216, 222);
}

.side-bar :first-child{
    border-top-left-radius: 20px;
}

.side-bar :last-child{
    border-bottom-left-radius: 20px;
}

.side-bar a{
    text-decoration: none;
    color: rgb(21, 21, 21);
}


/*main-bar*/

.main-container{
    background-color:  rgb(195, 195, 195);
    width: 98%;
    height: 80vh;
    margin-top: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;


}


.main-top{
    
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    position: relative;
    top: 20px;
    left: 50px;

}

.main-top .general-report-label{
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-right: 45px;
    padding-left: 20px;
    margin-right: 150px;

    

}

.main-top .month-filter{
    padding: 5px;
    border-radius: 5px;
    background-color: #3E4BBA;
    color: aliceblue;
    margin: 5px;
    height: 20px;
    font-size: 12px;
    margin-right: 40.5px;

    

}

.main-top .monitoring-label{
    padding: 10px;
    background-color: aliceblue;
    margin-right: 55px;
    border-radius: 10px;
    padding-right: 30px;
    padding-left: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.main-top .today{
    border: 0px;
    background-color: #3E4BBA;
    color: aliceblue;
    margin: 5px;
    height: 30px;
    width: 50px;
    font-size: 10px;
    border-radius: 5px;
    margin-right: 35.5px;

}

.main-top .disease-label{
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.main-bar{
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
}

.main-bar *{
    width: fit-content;
    margin: 8px;
}



.general-report-container{
    background-color: aliceblue;
    height: 65vh;
    width: 40%;
    margin-left: 50px;
    position: relative;
    top: 10px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    display: flex;
    flex-wrap: wrap;
    /* font-size: 5px; */
}


.general-report{

    background-color: aliceblue;
    display: flex;
    height: 60vh;
    width: 100%;
    margin-bottom: 20px;
}


.general-report div{

    margin: 0px;   
} 

.general-report .left{
    background-color: aliceblue;
    width: 50%;
    padding: 10px;
    height: 300px;
    border-right: 2px solid rgb(110, 110, 110);
    padding-right: -20px;
}

.general-report .left .statistic-list{
    background-color: aliceblue;
  
    width: 80%;
    padding: 10px;
}

.general-report .left .statistic-list .stats{
    background-color: aliceblue;
    width: 170px;
    display: flex;
    font-size: 11px; 
    height: 25px; 

}

.general-report .left span{
    font-size: 12px;

}


.general-report .left .statistic-list .generate-report{
    background-color: #3E4BBA;
    border: none;
    color:aliceblue;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    margin-top: 70px;
}



.generate-report{
    height: 20px;
    width: 20px;
    display: flex;
}

.general-report img{
    padding: 0px;

    margin: 3px;
    margin-left: 7px;
    margin-top: 5px;
    width: 20px;
    height: 20px;
}

.general-report .plus{
    margin-top: 5px;
}

.general-report .right{
    background-color: aliceblue;
    width: 50%;
    padding-left: 10px;
}

.general-report .right .month{
    font-size: 10px;
}


.general-report .right .pie-chart{
    width: 150px;
    height: 150px;
    background-color: red;
    margin: 10px;
    border-radius: 100px;
}

.general-report .right .purok-list{

}


.general-report .right .purok-list td{
    padding-right: 20px;
    font-size: 10px;
    height: 20px;
    color: black;
    
   }


.general-report .right .total-container{
width: 100px;
display: flex;
position: relative;
top: 50px;
left:36px;
}

.general-report .right .total-container div{
    padding-right: 26px;
    color: black;
    font-size: 11px;
}

.general-report .right .total-container tr.purok-color{
    width: 10px;
    height: 10px;
    background-color: red;
}


.monitoring-container{
    background-color: aliceblue;
    height: 65vh;
    width: 25%;
    position: relative;
    top: 10px;
    border-radius: 20px;
    border-top-left-radius: 0px;
}

.disease-container{
    background-color: aliceblue;
    height: 65vh;
    border-radius: 20px;
    width: 25%;
    position: relative;
    top: 10px;
    border-top-left-radius: 0px;

}
