@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: poppins;
    font-style: normal;
}

.container{
  
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: pink;
    width: 100%;
    height:  100vh;

}

.top{
    color:aliceblue;
    background-color: #3E4BBA;
    width: 100%;
    height:  10vh;
}

.side{
    background-color: aliceblue;
    width: 200px;
    
}



.main{
    background-color: aliceblue;
    width: 200px;
    height:  90vh;
    flex-grow: 1;
}




/*Top contnent*/
.top-content{
    display: flex;
  
    padding-left: 10px;
}

.top-content *{
    width: fit-content;
    font-size: 20px;
  
    
}

.top-content *:not(.profile img){
    padding-top: 10px;
    
}



.top-content .profile img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    position: relative;
    left: 750px;
    /* padding-left: 300px; */
}

.title{
    
    margin-right: 86px;
    font-weight: 400;

}

.location{
    padding-left: 10px;
    border-left: 1px solid wheat;
    font-weight: 400;

    
}


/*side-bar*/


.side-bar{
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 166, 31);
    border-radius: 20px;
    margin: 30px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 80vh;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
  
}

.side-bar .link{
    background-color: aliceblue;
    flex-grow: 1;
    text-align: start;
    padding-top: 10px;
    padding-left: 50px;
    font-size: small;
    
}

.side-bar .link:hover{
    background-color: rgb(209, 216, 222);
}

.side-bar :first-child{
    border-top-left-radius: 20px;
}

.side-bar :last-child{
    border-bottom-left-radius: 20px;
}

.side-bar a{
    text-decoration: none;
    color: rgb(21, 21, 21);
}


/*main-bar*/

.main-container{
    background-color:  rgb(237,237,237);
    width: 98%;
    height: 80vh;
    margin-top: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.main-bar{
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
}

.main-bar *{
    width: fit-content;
    margin: 8px;
}



.general-report-container{
    background-color: aliceblue;
    height: 71vh;
    width: 40%;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    /* font-size: 5px; */
}

.month-filter{
    background-color: blue;
    height: fit-content;
}


.general-report{

    background-color: aliceblue;
    display: flex;
    height: 60vh;
    width: 100%;
    margin-bottom: 20px;
    
    
}

.general-report div{

    margin: 0px;   
} 

.general-report .left{
    background-color: aliceblue;
    width: 60%;
    padding: 10px;
}

.general-report .left .statistic-list{
    background-color: aliceblue;
    width: 90%;
    padding: 10px;
}

.general-report .left .statistic-list .stats{
    background-color: aliceblue;
    width: 250px;
    display: flex;
   
   
}




.general-report .right{
    background-color: aliceblue;
    width: 40%;
}



.monitoring-container{
    background-color: aliceblue;
    height: 71vh;
    width: 25%;
    margin-top: 20px;

    border-radius: 20px;
}



.disease-container{
    background-color: aliceblue;
    height: 71vh;
    border-radius: 20px;
    width: 25%;
    margin-top: 20px;

}




.generate-report{
    height: 20px;
    width: 20px;
}